@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
  user-select: none;
}

#root {
  @apply flex flex-col items-center w-full;
}